{% extends 'PortalSleuthMain/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add Review</legend>
                {{ form|crispy }}
            </fieldset>

            <a style="float: right; margin-right: 10px;"class="btn btn-outline-info" href="{% url 'PortalSleuth-chooseReview' %}">Back</a>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock content %}
