{% extends 'PortalSleuthMain/base.html' %}
{% load static %}
{% block content %}
<br>
<h2>Contact Us</h2>
<br>
<style type="text/css">
  .card {
    background-color: #333;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}
</style>
<div class="row">
  <div class="col">
  <div class="card">
  <img src="{% static "PortalSleuthMain/4.jpg" %}" alt="Not Found" style="width:100%">
  <h1>Jahnavi</h1>
  <p class="title">2451-17-737-001</p>
  <p>MVSR Engineering College</p>
  <a href="https://www.instagram.com/jahnavi_muddu/"><i class="fa fa-instagram"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="https://www.facebook.com/jahnavi.muddu"><i class="fa fa-facebook"></i></a>
  <p><button class="btn btn-outline-primary"><a href="https://mailto:mudddujahnavi860@gmail.com" target="_blank">Contact</a></button></p>
</div>
</div>
<div class="col">
<div class="card">
<img src="{% static "PortalSleuthMain/3.jpeg" %}" alt="Not Found" style="width:100%">
<h1>Sreeja</h1>
<p class="title">2451-17-737-003</p>
<p>MVSR Engineering College</p>
<a href="https://www.instagram.com/sreeja_reddy_27/"><i class="fa fa-instagram"></i></a>
<a href="#"><i class="fa fa-linkedin"></i></a>
<a href="https://www.facebook.com/sreeja.reddy.334839"><i class="fa fa-facebook"></i></a>
<p><button class="btn btn-outline-primary">Contact</button></p>
</div>
</div>
<div class="col">
<div class="card">
<img src="{% static "PortalSleuthMain/1.JPG" %}" alt="Not Found" style="width:100%">
<h1>Vineeth</h1>
<p class="title">2451-17-737-004</p>
<p>MVSR Engineering College</p>
<a href="https://www.instagram.com/_.vineethn7/"><i class="fa fa-instagram"></i></a>
<a href="https://www.linkedin.com/in/vineeth-ram-kumar-nayakanti-venkat-b7702a17b/"><i class="fa fa-linkedin"></i></a>
<a href="https://www.facebook.com/vineethn7"><i class="fa fa-facebook"></i></a>
<p><button class="btn btn-outline-primary">Contact</button></p>
</div>
</div>
</div>

{% endblock %}
