{% extends 'PortalSleuthMain/base.html' %}
{% block content %}
<br>
<h2 align="center"><b>Welcome to The Portal Sleuth</b></h2><br>

  <h4><br>
    <ul><li><b><span class="text-danger">The Portal Sleuth</span></b> is a Django-based Web application that uses <b><span class="text-success">RAKE-NLTK</span></b> to mine user opinions/reviews and evaluate websites.<br><br></li>
<li>The system takes opinion of various users, based on the opinion; system will decide whether the website is genuine or not.<br><br></li>
<li>The system uses <b><i><span class="text-info">opinion mining</span></i></b> methodology in order to achieve desired functionality.</li></ul>

  </h4>

{% endblock %}
