{% extends 'PortalSleuthMain/base.html' %}
{% block content %}
<div>
<br>
 </div>

<h1>
 <a href="{% url 'new-review' %}" style="float: right; margin-right: 10px;" class="btn btn-info" type="submit">Add review</a>
Amazon <span style="float:right;margin-right:10px;">{{ out }}/5</span>
</h1>



{% for review in reviews %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ review.user.username }}</a>
      <small class="text-muted">{{ review.created_at|date:"F d, Y" }}</small>
    </div>
    <h2><a class="article-title" href="{% url 'submit-review' review.id %}">{{ review.websiteName }}</a></h2>
    <div>

    <a href="{% url 'delete-review' review.id %}">
    <button style="float: right; margin-right: 10px;" class="btn btn-primary" type="submit">
     Remove</button></a>
     </div>
    <p class="article-content">{{ review.review }}
    </p>
  </div>
</article>
    {% endfor %}

{% endblock %}
