{% extends 'PortalSleuthMain/base.html' %}
{% load static %}
{% block content %}
<div>
<br>
 </div>

<h1>
 <a href="{% url 'PortalSleuth-chooseReview' %}" style="float: right; margin-right: 10px;" class="btn btn-info" type="submit">Add review</a>
Amazon <span style="float:right;margin-right:10px;">{{ out }}/5</span>
</h1>



{% for review in reviews %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ review.user.username }}</a>
      <small class="text-muted">{{ review.created_at|date:"F d, Y" }}</small>
    </div>
    <h2><a class="article-title" href="{% url 'submit-review' review.id %}">{{ review.websiteName }}</a></h2>
    <div>

    <a href="{% url 'delete-review' review.id %}">
    <button style="float: right; margin-right: 10px;" class="btn btn-primary" type="submit">
     Remove</button></a>
     </div>
    <p class="article-content">{{ review.review }}
    </p>
  </div>
</article>
    {% endfor %}
{% for m in emojiReviews %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ m.user.username }}</a>
          <small class="text-muted">{{ m.created_at|date:"F d, Y" }}</small>
        </div>

        <h2 class="article-title" >{{ m.websiteName }}</h2>

        <div style="float:right">
        {% if m.emotion == "0" %}
        <img src="{% static 'PortalSleuthMain/angry.png' %}" width="80" height="100"/>
        <p>Angry</p>
        {% elif m.emotion == "1" %}
        <img src="{% static 'PortalSleuthMain/disgusted.png' %}" width="80" height="100"/>
        <p>Disgusted</p>
        {% elif m.emotion == "2" %}
        <img src="{% static 'PortalSleuthMain/fearful.png' %}" width="80" height="100"/>
        <p>Fearful</p>
        {% elif m.emotion == "3" %}
        <img src="{% static 'PortalSleuthMain/happy.png' %}" width="80" height="100"/>
        <p>Happy</p>
        {% elif m.emotion == "4" %}
        <img src="{% static 'PortalSleuthMain/neutral.png' %}" width="80" height="100"/>
        <p>Neutral</p>
        {% elif m.emotion == "5" %}
        <img src="{% static 'PortalSleuthMain/sad.png' %}" width="80" height="100"/>
        <p>Sad</p>
        {% elif m.emotion == "6" %}
        <img src="{% static 'PortalSleuthMain/surpriced.png' %}" width="80" height="100"/>
        <p>Surprised</p>
        {% endif %}
      </div>
      </div>
    </article>
    {% endfor %}
{% endblock %}
